.boxTarefa {
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: max-content;
  padding: 20px;
  width: max-content;
  background-color: var(--color-blue);
  border-radius: 30px;
}

.inputTarefa {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.inputTarefa:hover {
  cursor: pointer;
}

.conteudoTarefa {
  font-family: var(--font-roboto);
  font-size: 35px;
  color: var(--color-background);
  background-color: var(--color-blue);
  outline: none;
  border: none;
}

.btnDel {
  width: 70px;
  height: 40px;
  font-size: 16px;
  background-color: var(--color-background);
  color: var(--color-red);
  font-family: var(--font-lato);
  border-radius: 10px;
  border: none;
  margin-left: 20px;
}

.btnDel:hover {
  cursor: pointer;
  color: var(--color-background);
  background-color: var(--color-red);
}