.boxTarefa {
  margin-top: 30px;
  display: flex;
  align-items: center;
  height: max-content;
  padding: 20px;
  width: 600px;
  background-color: var(--color-blue);
  border-radius: 30px;
}

.inputTarefa {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.inputTarefa:hover {
  cursor: pointer;
}

.conteudoTarefa {
  font-family: var(--font-roboto);
  font-size: 35px;
  color: var(--color-background);
  background-color: var(--color-blue);
  outline: none;
  border: none;

}